.DS_Store
npm-debug.log
node_modules/
test/screenshot/
*.iml
.idea/
*.sw*
*.un~

build/commonjs/.npmignore
build/commonjs/LICENSE
build/commonjs/README.md
build/commonjs/package.json
build/commonjs/hilo-standalone.js
build/npm
